{% extends "base.html" %}
{% load static %}
{% block title %} لیست کتاب ها {% endblock %}
{% block extra_nav_item %}
<li class="nav-item">
    <form class="form-inline text-center">
        <input class="form-control mr-sm-2" type="search" placeholder="نام کتاب" aria-label="Search">
        <a href="#" class="btn btn-primary">مشاهده</a>
    </form>
</li>
{% endblock %}
{% block content %}
<div class="container-fluid rtl-div">
    <div class="row">
        {% for book in books %}
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center">
            <div class="thumb-wrapper">
                <div class="img-box">
                    {% if book.image %}
                    <img src="{{ book.image.url }}" class="img-responsive img-fluid"
                         alt="book image">
                    {% else %}
                    <img src="{% static 'catalog/book_default.png' %}" class="img-responsive img-fluid"
                         alt="book image">
                    {% endif %}
                </div>
                <div class="thumb-content">
                    <h4>{{ book.title }}</h4>
                    <p class="item-price"><strike></strike> <span>{{ book.price }} ریال</span></p>
                    <a href="{% url 'catalog:book_detail' book.id %}" class="btn btn-primary">مشاهده</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


