{% extends "base.html" %}
{% load static %}


{% block title %} جزئیات کتاب {% endblock %}

{% block content %}

<div class="detail-container">
    <div class="image-container">
        {% if book.image %}
            <img src="{{ book.image.url }}">
        {% else %}
            <img src="{% static 'catalog/book_default.png' %}">
        {% endif %}
    </div>
    <h2> {{ book.title }}‌ </h2>
    <p>{{ book.description }}</p>
    <div class="button-container">
        <a href="#"> {{ book.price }} ریال <br> خرید </a>
        <a href="{% url 'commenting:comments' book.pk %}"> نظرات </a>
    </div>

</div>
{% endblock %}
