{% extends "base.html" %}
{% load static %}

{% block title %} لیست کتاب ها {% endblock %}

{% block content %}
<div class="search">
    <form class="search-form">
        <input type="text" placeholder="نام کتاب">
        <input type="submit" value="جستجو">
    </form>
</div>

</div>
<div class="catalog">
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال</h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال </h3>
        <button> مشاهده </button>
    </div>
    <div class="item">
        <img src="{% static 'catalog/book_default.png' %}" class="item-image">
        <h2> نام کتاب‌ </h2>
        <h3> ۱۰۰۰ ریال </h3>
        <button> مشاهده </button>
    </div>
</div>
{% endblock %}
