/* font adding */
@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir.eot');
  src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir.woff') format('woff'),
       url('./fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Bold.eot');
  src: url('./fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Bold.woff') format('woff'),
       url('./fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Light.eot');
  src: url('./fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Light.woff') format('woff'),
       url('./fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

:root {
    --background-color: #124;
    --text-color: #fff;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Vazir", Arial, sans-serif;
    color: white;
    direction: rtl;
}

body {
    background: var(--background-color);
}

.main-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.logo {
  width: 20vw;
  border-radius: 50vw;
}

.popover {
   display: none;
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #141;
  animation: 1s grow ease forwards;
  text-align: center;
  border-radius: 40px;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 4vw;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #FF0000;
  transition: all 0.5s ease;
}

.nav_list li:hover:before {
      width: 100%;
}

.popover .close::after {
  padding: 1vw;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #FF0000;
  color: var(--text-color);
  content: 'x';
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
  border-radius: 40px;
  font-size: 4vw;
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  text-align: center;
}

footer h2 {
  font-size: 3vw;
}
footer h3 {
  font-size: 2vw;
}
footer h4 {
  font-size: 1vw;
}

@media screen and (min-device-width : 601px) and (max-device-width : 1024px) {
  .logo {
    width: 30vw;
  }
  footer h2 {
    font-size: 4vw;
  }
  footer h3 {
    font-size: 3vw;
  }
  footer h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 50vw;
  }
  footer h2 {
    font-size: 5vw;
  }
  footer h3 {
    font-size: 4vw;
  }
  footer h4 {
    font-size: 3vw;
  }
}