/* font adding */
@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir.eot');
  src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir.woff') format('woff'),
       url('./fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Bold.eot');
  src: url('./fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Bold.woff') format('woff'),
       url('./fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Light.eot');
  src: url('./fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Light.woff') format('woff'),
       url('./fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

/* basic styles */

:root {
  --background-color: #124;
  --item-color: #141;
  --text-color: #fff;
  --nav-background-color: #00a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Vazir", Arial, sans-serif;
  font-size: 1vw;
}

body {
  background-color: var(--background-color);
}

a, input, button, p {font-size: 0.8vw;}
h3 {font-size: 1vw;}
h2 {font-size: 1.5vw;}

/* navigation bar */

.topnav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--nav-background-color);
}

.topnav a {
  float: right;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: var(--item-color);
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: var(--item-color);
  color: white;
}

.icon_container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 2px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -3px);
  transform: rotate(45deg) translate(-3px, -3px);
}

/* main container */

.main-container {
  text-align: center;
  padding-top: 60px;
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  background-color: var(--nav-background-color);
}

/* search bar */

.search
{
    padding: 5px;
    width: 100%;
    height: 3vw;
    text-align: center;
    background-color: var(--background-color);
}

.search input[type="text"]
{
	border: 0px;
	width: 40%;
	height: 100%;
	padding: 10px;
	border-radius: 40px;
}

.search input[type="text"]:focus
{
	outline: 0;
}

.search input[type="submit"]
{
	background: none;
	background-color: var(--item-color);
	color: #fff;
	width: 5%;
	height: 100%;
    cursor:pointer;
    border-radius: 40px;
}

/* items list */

.catalog {
  padding-top: 10px;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.item {
  text-align: center;
  direction: rtl;
}

.item-image {
  padding: 10px;
  width: 80%;
  border-radius: 40px;
}

.item h3, h2 {
  color: var(--text-color);
  padding: 1vw;
  direction: rtl;
}

.item a {
  background: none;
  background-color: var(--item-color);
  color: #fff;
  border-radius: 40px;
  direction: rtl;
  padding: 1vw;
  box-shadow: 0px 0px 0px 2px silver;
}

/* item detail */

.detail-container {
  display: grid;
  grid-template-areas: 'image description' 'title button';
  padding: 10vw 20vw ;
  direction: rtl;
  text-align: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: image;
}

.image-container img {
  border-radius: 40px;
  width: 20vw;
}

.detail-container p {
  grid-area: description;
  color: var(--text-color);
  padding: 10px;
  direction: rtl;
}

.detail-container h2 {
  grid-area: title;
  color: var(--text-color);
  padding-top: 10px;
  direction: rtl;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: button;
}

.button-container a {
  width: 10vw;;
  background: none;
  background-color: var(--item-color);
  color: #fff;
  border-radius: 40px;
  direction: rtl;
  box-shadow: 0px 0px 0px 2px silver;
}

/* login and forms */

.messages {
  text-align: center;
  padding: 100px;
}

.messages * {
  color: green;
  direction: ltr;
  list-style-type: none;
}

.main-container h1 {
  font-size: 2vw;
  color: var(--text-color);
}

.main-container p {
  text-align: center;
  direction: rtl;
  padding: 20px;
  color: var(--text-color);
}

.main-container form label {
  color: var(--text-color);
}

.main-container button {
  background: none;
  background-color: var(--item-color);
  color: #fff;
  border-radius: 40px;
  direction: rtl;
  padding: 1vw;
}

.main-container .errorlist {
  color: red;
}

.main-container p a, a {
  text-decoration: none;
  color: green;
}

/* media queries */

@media screen and (max-width: 600px) {
  a, input, button, p {font-size: 3vw;}
  h3 {font-size: 4vw;}
  h2 {font-size: 5vw;}
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a
    {
      float: none;
      display: block;
      text-align: left;
      color: var(--text-color);
    }
  .search
    {
	  height: 6vw;
    }
  .search input[type="text"]
    {
	  width: 70%;
    }
  .search input[type="text"]:focus
    {
	  outline: 0;
    }
  .search input[type="submit"]
    {
	  width: 15%;
    }
  .catalog {
    grid-template-columns: 100%;
  }
  .item-image {
    width: 50%;
  }
  .detail-container {
    grid-template-areas: 'image' 'title' 'description' 'button';
    padding: 5vw 10vw ;
  }
  .image-container img {
    width: 50vw;
  }
  .button-container button {
    width: 40vw;
  }
}

@media screen and (min-device-width : 601px) and (max-device-width : 1024px) {
  a, input, button, p {font-size: 1.5vw;}
  h3 {font-size: 2vw;}
  h2 {font-size: 2.5vw;}

  .search
    {
	  height: 4vw;
    }

  .search input[type="text"] {
    width: 60%;
  }

  .search input[type="text"]:focus {
	outline: 0;
  }

  .search input[type="submit"] {
	width: 10%;
  }

  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item-image {
    width: 70%;
  }
  .detail-container {
    padding: 5vw 10vw ;
  }
  .image-container img {
    width: 30vw;
  }
  .button-container button {
    width: 20vw;
  }
}
