/* font adding */
@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir.eot');
  src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir.woff') format('woff'),
       url('./fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Bold.eot');
  src: url('./fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Bold.woff') format('woff'),
       url('./fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Light.eot');
  src: url('./fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Light.woff') format('woff'),
       url('./fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

/* basic styles */

* {
  font-family: "Vazir", Arial, sans-serif;
}

input, textarea, select { font-family:inherit; }

h1, h2, h3, h4, h5, h6, p, a, .rtl-div {
    direction: rtl;
}

.thumb-wrapper {
}

.img-box {
}

.thumb-content {
	padding: 15px;
}

.item-price {
	font-size: 13px;
	padding: 2px 0;
}

.item-price strike {
	color: #999;
	margin-right: 5px;
}

.item-price span {
	color: #86bd57;
	font-size: 110%;
}




/* item detail */

.detail-container {
  display: grid;
  grid-template-areas: 'image description' 'title button';
  padding: 10vw 20vw ;
  direction: rtl;
  text-align: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: image;
}

.image-container img {
  border-radius: 40px;
  width: 20vw;
}

.detail-container p {
  grid-area: description;
  color: var(--text-color);
  padding: 10px;
  direction: rtl;
}

.detail-container h2 {
  grid-area: title;
  color: var(--text-color);
  padding-top: 10px;
  direction: rtl;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: button;
}

.button-container a {
  width: 10vw;;
  background: none;
  background-color: var(--item-color);
  color: #fff;
  border-radius: 40px;
  direction: rtl;
  box-shadow: 0px 0px 0px 2px silver;
}

/* login and forms */

.messages {
  text-align: center;
}

.messages * {
  color: green;
  direction: ltr;
  list-style-type: none;
}

.main-container h1 {
  font-size: 2vw;
  color: var(--text-color);
}

.main-container p {
  text-align: center;
  direction: rtl;
  padding: 20px;
  color: var(--text-color);
}

.main-container form label {
  color: var(--text-color);
}

.main-container button {
  background: none;
  background-color: var(--item-color);
  color: #fff;
  border-radius: 40px;
  direction: rtl;
  padding: 1vw;
}

.main-container .errorlist {
  color: red;
}

.main-container p a, a {
  text-decoration: none;
  color: green;
}

/* media queries */

@media screen and (max-width: 600px) {
  a, input, button, p {font-size: 3vw;}
  h3 {font-size: 4vw;}
  h2 {font-size: 5vw;}
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a
    {
      float: none;
      display: block;
      text-align: left;
      color: var(--text-color);
    }
  .topnav.responsive .dropdown {float: none;}

  .topnav.responsive .dropdown-content {position: relative;}

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .search
    {
	  height: 6vw;
    }
  .search input[type="text"]
    {
	  width: 70%;
    }
  .search input[type="text"]:focus
    {
	  outline: 0;
    }
  .search input[type="submit"]
    {
	  width: 15%;
    }
  .catalog {
    grid-template-columns: 100%;
  }
  .item-image {
    width: 50%;
  }
  .detail-container {
    grid-template-areas: 'image' 'title' 'description' 'button';
    padding: 5vw 10vw ;
  }
  .image-container img {
    width: 50vw;
  }
  .button-container button {
    width: 40vw;
  }
}

@media screen and (min-device-width : 601px) and (max-device-width : 1024px) {
  a, input, button, p {font-size: 1.5vw;}
  h3 {font-size: 2vw;}
  h2 {font-size: 2.5vw;}

  .search
    {
	  height: 4vw;
    }

  .search input[type="text"] {
    width: 60%;
  }

  .search input[type="text"]:focus {
	outline: 0;
  }

  .search input[type="submit"] {
	width: 10%;
  }

  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item-image {
    width: 70%;
  }
  .detail-container {
    padding: 5vw 10vw ;
  }
  .image-container img {
    width: 30vw;
  }
  .button-container button {
    width: 20vw;
  }
}
