{% extends "base.html" %}
{% load static %}
{% block title %}درباره ما{% endblock %}
{% block description %}
انتشارات اقیانوس دانش - تأسیس سال ۱۴۰۰ - دارای مجوز نشر کتاب از وزارت فرهنگ و ارشاد اسلامی - ارائه انواع کتاب ها با موضوعات مختلف مخصوصا کتاب های دانشگاهی برای دنشجویان محترم - مشاوره تألیف کتاب برای نویسندگان محترم
{% endblock %}
{% block content %}
<div class="row p-5 mt-5">
    <div class="col-xs-12 col-sm-4 text-center">
        <img class="w-75 rounded-circle mb-3" src="{% static 'logo.jpg' %}" alt="">
    </div>
    <div class="col-xs-12 col-sm-8 rtl-div text-center mb-3">
        <div class="col">
            <h1 style="font-size: 32px;">درباره انتشارات اقیانوس دانش</h1>
            <p>انتشارات اقیانوس دانش در سال 1400 با تمرکز بر هدف ارائه خدمات به دانشجویان تاسیس گردیده است </p>
            <p>نویسندگان محترم لازم است پیش از اقدام برای چاپ کتاب، آیین نامه های مربوط را مطالعه نمایند</p>
        </div>
        <div class="col mt-5">
            <h5>آیین نامه اجرایی فهرست نویسی پیش از انتشار(فیپا)</h5>
            <p>جهت دریافت آیین نامه اجرایی فهرست نویسی پیش از انتشار <a href="{% static 'fipa.pdf' %}" target="_blank">اینجا </a>کلیک نمایید.</p>
        </div>
        <div class="col mt-5">
            <h5>آیین نامه پذیرش و نشر کتاب</h5>
            <p>جهت دریافت آیین نامه پذیرش و نشر کتاب در انتشارات اقیانوس دانش  <a href="#" target="_blank">اینجا </a>کلیک نمایید.</p>
        </div>


    </div>
</div>
{% endblock %}