{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load IR %}

{% block title %}ثبت سفارش{% endblock %}
{% block content %}
<div class="container rtl-div mt-5 text-center ">
    <div class="container text-center">
        <h3 class="m-5"> ثبت سفارش </h3>
        <hr class="mb-4">
        <p class="m-5"> کاربر: {{ request.user.get_full_name }} </p>
        <hr class="mb-4">
    </div>
    <div class="container text-center mb-3">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="تکمیل و پرداخت">
        </form>
    </div>
</div>
{% endblock %}



