{% extends "base.html" %}
{% load static %}
{% block title %} انتشارات اقیانوس دانش {% endblock %}

{% block content %}
<div class="row p-5 mt-5">
    <div class="col-xs-12 col-sm-4 text-center">
        <img class="w-75 rounded-circle mb-3" src="{% static 'logo.jpg' %}" alt="">
    </div>
    <div class="col-xs-12 col-sm-8 rtl-div text-center mb-3">
        <h3>تماس با انتشارات اقیانوس دانش</h3>
        <p>در حال حاضر تنها از طریق تماس تلفنی می توانید با ما در ارتباط باشید<br>شماره های تماس:<br>۰۹۱۲۹۴۹۵۴۸۰<br>۰۹۰۲۶۷۷۷۹۶۱<br>۰۹۰۳۶۸۱۵۰۶۸</p>
    </div>
</div>
{% endblock %}