{% extends "base.html" %}
{% load static %}
{% block title %} انتشارات اقیانوس دانش {% endblock %}

{% block content %}
<div class="container-fluid bg-primary h-100 text-center">
    <div class="container-fluid bg-primary h-100 text-center">
        <div class="container col-xs-12 col-md-10 col-lg-5 p-5">
            <img class="w-100 rounded-circle" src="{% static 'logo.jpg' %}" alt="logo">
        </div>
        <div class="container">
            <h2>انتشارات اقیانوس دانش</h2>
            <p>توضیحات اضافه درباره انتشارات</p>
        </div>
    </div>
</div>
{% endblock %}