{% load static %}
<html lang="en">
    <head>
        <head>
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <link href="{% static 'main_style.css' %}" rel="stylesheet" type="text/css">
            <title>{% block title %}انتشارات اقیانوس دانش{% endblock %}</title>
        </head>
    </head>
    <body>
        <div class="topnav" id="Topnav">
            <a class="active" href="#home">محصولات</a>
            <a href="#news">ورود کاربر</a>
            <a href="#contact">درباره ما</a>
            <a href="#about">تماس با ما</a>
            <a class="icon" href="javascript:void(0);" onclick="responsive_nav()" style="font-size:15px;">
                <div class="icon_container" onclick="menu_icon(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
        {% if messages %}
            <div class="messages">
                <ul>
                  {% for message in messages %}
                    <li>{{message}}</li>
                  {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block content %}

        {% endblock %}
        <script>
            function responsive_nav() {
              var x = document.getElementById("Topnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }

            function menu_icon(x) {
              x.classList.toggle("change");
            }
        </script>
    </body>
    <footer>
        <h3>انتشارات اقیانوس دانش</h3>
        <p> تلفن تماس <br> ۰۹۱۲۹۴۹۵۴۸۰ <br> ۰۹۰۲۶۷۷۷۹۶۱ <br> ۰۹۰۳۶۸۱۵۰۶۸ </p>
    </footer>
</html>