{% load static %}
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static 'main_style.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}انتشارات اقیانوس دانش{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div class="topnav" id="myTopnav">
    <a class="{% if request.resolver_match.url_name == 'books_list' %} active {% endif %}"
       href="{% url 'catalog:books_list' %}">محصولات</a>
    <a class="{% if request.resolver_match.url_name == 'account_login' %} active {% endif %}"
       href="{% url 'account_login' %}">ورود کاربر</a>
    <a href="#contact">درباره ما</a>
    <a href="#about">تماس با ما</a>
    <a class="icon" href="javascript:void(0);" onclick="responsive_nav()" style="font-size:15px;">
        <div class="icon_container" onclick="menu_icon(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </a>
</div>
{% block body %}

{% if messages %}
<div class="messages">
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="main-container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
{% block extra_body %}
{% endblock %}
</body>
<footer>
    <h3>انتشارات اقیانوس دانش</h3>
    <p> تلفن تماس <br> ۰۹۱۲۹۴۹۵۴۸۰ <br> ۰۹۰۲۶۷۷۷۹۶۱ <br> ۰۹۰۳۶۸۱۵۰۶۸ </p>
</footer>
</html>