{% extends "base.html" %}
{% load static %}
{% block title %} انتشارات اقیانوس دانش {% endblock %}

{% block content %}
<div class="row p-5 mt-5">
    <div class="col-xs-12 col-sm-4 text-center">
        <img class="w-75 rounded-circle mb-3" src="{% static 'logo.jpg' %}" alt="">
    </div>
    <div class="col-xs-12 col-sm-8 rtl-div text-center mb-3">
        <h3>تماس با انتشارات اقیانوس دانش</h3>
        <p>جهت تماس تلفنی می توانید از شماره تلفن های زیر استفاده نمایید<br>شماره های تماس:<br>۰۹۱۲۹۴۹۵۴۸۰<br>۰۹۰۲۶۷۷۷۹۶۱<br>۰۹۰۳۶۸۱۵۰۶۸</p>
        <p>جهت ارسال ایمیل می توانید از آدرس های پست الکترونیکی زیر استفاده نمایید<br>آدرس های پست الکترونیکی:<br>oghyanoosedanesh@gmail.com<br>oghyanoosedanesh@yahoo.com</p>
        <p>اعضای تیم انتشارات اقیانوس دانش همواره آماده شنیدن نظرات، انتقادات و پیشنهادات ارزشمند شما عزیزان می باشند و از آن ها استقبال می کنند.</p>
    </div>
</div>
{% endblock %}