<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="container">
        <h1>
            <a href="#menu">نمایش منو</a>
        </h1>

        <div class="popover" id="menu">
            <div class='content'>
                <a href="#" class="close"></a>
                <div class='nav'>
                    <ul class='nav_list'>

                        <div class='nav_list_item'>
                            <li><a href="#">محصولات</a></li>
                        </div>
                        <div class='nav_list_item'>
                            <li><a href="#">ورود کاربر</a></li>
                        </div>
                        <div class='nav_list_item'>
                            <li><a href="#">درباره ما</a></li>
                        </div>
                        <div class='nav_list_item'>
                            <li><a href="#">تماس با ما</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>