{% extends "base.html" %}
{% load static %}

{% block title %} لیست کتاب ها {% endblock %}
{% block content %}
<div class="container p-5 text-center rtl-div">
        <h4>{{ request.user.get_full_name }}</h4>
        <p>آدرس: {{ request.user.address }}</p>
        <p>شماره تماس: {{ request.user.phone_number }}</p>
        <p> آدرس ایمیل: {{ request.user.email }} </p>
        <a href="{% url 'account_email' %}" role="button" class="btn btn-info btn-md mr-1 mb-2">مدیریت ایمیل</a>
</div>
{% endblock %}