{% extends "account/base.html" %}

{% load i18n static %}

{% block content %}

    <h1>ورود کاربر</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">ورود</button>
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">فراموشی رمز عبور</a>
      <p>در صورتی که حساب کاربری ندارید از طریق لینک زیر اقدام فرمایید<br><a href="{{ signup_url }}">ساخت حساب کاربری</a></p>
    </form>


{% endblock %}