{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}بازنشانی کلمه عبور{% endblock %}
{% load account %}

{% block content %}
<div class="container rtl-div col-xs-12 col-sm-8 col-md-6 col-lg-4 text-center p-5">
    <h1>بازنشانی کلمه عبور</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>کلمه عبور خود را فراموش کرده اید؟ ایمیل خود را وارد کنید تا یک ایمیل حاوی لینکی برای بازنشانی کلمه عبور برای شما ارسال گردد </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success primaryAction" type="submit">بازنشانی کلمه عبور</button>
    </form>

    <p> در صورت بروز مشکل با ما تماس بگیرید </p>
</div>
{% endblock %}
