{% extends "account/base.html" %}
{% block title %}بازنشانی کلمه عبور{% endblock %}
{% block content %}
    <h1>{% if token_fail %}خطای شناسه{% else %}تغییر کلمه عبور{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>لینک بازنشانی کلمه عبور غیرمعتبر است. ممکن است قبلا استفاده شده باشد لطفا یک لینک بازنشانی جدید درخواست کنید<br> <a href="{{ passwd_reset_url }}">لینک بازنشانی جدید</a></p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>کلمه عبور بازنشانی شد</p>
        {% endif %}
    {% endif %}
{% endblock %}
