{% extends "account/base.html" %}
{% block title %}بازنشانی کلمه عبور{% endblock %}
{% load account %}

{% block content %}

    <h1>بازنشانی کلمه عبور</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>کلمه عبور خود را فراموش کرده اید؟ ایمیل خود را وارد کنید تا یک ایمیل حاوی لینکی برای بازنشانی کلمه عبور برای شما ارسال گردد </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p> در صورت بروز مشکل با ما تماس بگیرید </p>
{% endblock %}
