{% extends "account/base.html" %}

{% block content %}
<h1> ثبت نام </h1>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit"> ثبت نام </button>
</form>
<p> در صورتی که قبلا ثبت نام کرده اید از طریق لینک زیر اقدام به ورود نمایید<br> <a href="{{ login_url }}">ورود کاربر</a></p>
{% endblock %}