{% extends "account/base.html" %}
{% block title %}تایید ایمیل{% endblock %}
{% block content %}
<h1>آدرس ایمیل خود را تایید کنید</h1>

{% url 'account_email' as email_url %}

<p>این بخش نیاز به تایید آدرس ایمیل شما دارد</p>

<p>ایمیل تایید آدرس ایمیل به شما ارسال شد از لینک موجود در آن جهت تایید ایمیل آدرس استفاده نمایید در صورتی که ایمیلی دریافت نکردید با ما تماس حاصل نمایید  </p>

<p>{% blocktrans %}<strong>توجه</strong> شما هنوز می توانید آدرس ایمیل خود را تغییر دهید<br> <a href="{{ email_url }}">تغییر آدرس ایمیل</a></p>


{% endblock %}
